.imageformcontainer{
  display: flex;
  gap:250px;
  height: 100vh;
}

.signuplogo{
  width: 400px;
 height: 400px;
 
}
.signup-color{
  background-color:  #202022;
  
}


.card.p-4.shadow-sm {
  background-color: #202022;
  color: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 20px;
  min-width: 600px;
}



@media (max-width:600px) {
  .imageformcontainer{
      display: flex;
      flex-wrap: wrap;
      gap:15px;
  }
  .signuplogo{
    margin-top: 20px;
      width: 100px;
     height: 100px;
  }
  .card.p-4.shadow-sm{
      min-width: 90px;
      
  }

}