#svgObject {
    width: 1000px;
    height: 100%;
  }



  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .body div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.floorplan{
  display: flex;
  flex-direction: column;
}


  /* Media query for devices with max width of 600px (standard phones) */
  @media only screen and (max-width: 600px) {
    object {
      transform: rotate(90deg);
      margin-top: 250px;
      width: 100vw; /* Set width to the device's full width */
      height: 75vw; /* Set height to 75% of the device width */
    }
     h1 {
    font-size: 1rem; /* Further reduce heading font sizes */
  }
  h2 {
    font-size: 0.9rem;
  }
  }
  #popup {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    max-width: 300px;
  }
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .popup-header .close {
    cursor: pointer;
  }

